body {
  font-family: 'Sans';
}

.base {

}

.container {

}
.container__login{
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 200px;
  padding: 25px;
  //border: solid red 1px;
  background: #03DAC6;
  text-align: center;
}
.container__login--form{
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 100px;
  padding: 25px;
}

.btn {
  border: none;
  width: 150px;
  height: 80px;
}

.btn-primary {
  background: #ffffff;
  color: #000000;
}